extends layout/main.pug
block navbar
  span.navbar-text.text-white  #{name}
block content
  p.text-center.mt-2 A Twitter clone in <a href="https://htmx.org">htmx</a> and Node
  div(hx-ext="ws,redirect-ws" ws-connect="/tweet")
    form(hx-ws="send" _="on submit reset() me")
      .mb-3.row
        label(for="txtMessage") Message:
        textarea#txtMessage.form-control(rows="3", name="message", required="true")
      .d-grid.gap-2.col-3.mx-auto.mb-3
          button.btn.btn-primary.text-center(type="submit") Tweet
  div
  #timeline(hx-get="/posts" hx-trigger="load, every 60s")
  script(src="https://unpkg.com/htmx.org@1.9.5")
  script(src="https://unpkg.com/htmx.org@1.9.5/dist/ext/ws.js")
  script(src="https://unpkg.com/hyperscript.org@0.9.12")
  script(src="/js/main.js")